<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <!-- <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <form class="navbar-form navbar-right mt-1" role="search">
                <div class="position-relative has-icon-right">
                    <input type="text" class="form-control round" placeholder="Search">
                    <div class="form-control-position">
                        <i class="ft-search"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mr-2">
                        <a href="javascript:;" class="nav-link" appToggleFullscreen>                            
                            <i class="ft-maximize font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">fullscreen</p>
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle>
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span class="notification badge badge-pill badge-danger">4</span>
                            <p class="d-none">Notifications</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown">
                            <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                <i class="ft-bell blue-grey lighten-3 float-left d-block font-large-1 mt-1 mr-2"></i>
                                <span class="noti-wrapper">
                                    <span class="noti-title line-height-1 d-block text-bold-400">New Order Received</span>
                                    <span class="noti-text">Lorem ipsum dolor sit ametitaque in, et!</span>
                                </span>
                            </a>
                            <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                <i class="ft-bell blue-grey lighten-3 float-left d-block font-large-1 mt-1 mr-2"></i>
                                <span class="noti-wrapper">
                                    <span class="noti-title line-height-1 d-block text-bold-400">New User Registered</span>
                                    <span class="noti-text">Lorem ipsum dolor sit ametitaque in </span>
                                </span>
                            </a>
                            <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                <i class="ft-bell blue-grey lighten-3 float-left d-block font-large-1 mt-1 mr-2"></i>
                                <span class="noti-wrapper">
                                    <span class="noti-title line-height-1 d-block text-bold-400">New Order Received</span>
                                    <span class="noti-text">Lorem ipsum dolor sit ametest?</span>
                                </span>
                            </a>
                            <a class="dropdown-item noti-container py-3">
                                <i class="ft-bell blue-grey lighten-3 float-left d-block font-large-1 mt-1 mr-2"></i>
                                <span class="noti-wrapper">
                                    <span class="noti-title line-height-1 d-block text-bold-400">New User Registered</span>
                                    <span class="noti-text">Lorem ipsum dolor sit ametnatus aut.</span>
                                </span>
                            </a>
                            <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">Read All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-edit mr-2"></i>
                                <span>Edit Profile</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-mail mr-2"></i>
                                <span>My Inbox</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</nav>