<!-- <div class="row">
	<div class="col-12">
		<div class="content-header">VolibolApp</div>
	</div>
</div> -->

<section id="striped-row-form-layouts" *ngIf="namePanel===0">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Informaci&oacute;n General</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<form class="form form-horizontal striped-rows form-bordered"
							[formGroup]="form">
							<div class="form-body">

								<!-- nombre equipo1 -->
								<div class="form-group row">
									<label class="col-md-4 label-control" for="projectinput1">Nombre
										del equipo1:</label>
									<div class="col-md-8">
										<input type="text" id="projectinput1" class="form-control"
											[(ngModel)]="nameTeamOne"
											placeholder="Nombre del equipo. Ej: Colo colo" name="teamone"
											formControlName="teamone"> <small
											class="form-text text-muted danger"
											*ngIf="!form.controls.teamone.valid && (form.controls.teamone.dirty || form.controls.teamone.touched || submitted)">
											Este campo es obligatorio.</small>
									</div>
								</div>

								<!-- nombre equipo2 -->
								<div class="form-group row">
									<label class="col-md-4 label-control" for="projectinput1">Nombre
										del equipo2:</label>
									<div class="col-md-8">
										<input type="text" id="projectinput1" class="form-control"
											[(ngModel)]="nameTeamTwo"
											placeholder="Nombre del equipo. Ej: Cobreloa" name="teamtwo"
											formControlName="teamtwo"> <small
											class="form-text text-muted danger"
											*ngIf="!form.controls.teamtwo.valid && (form.controls.teamtwo.dirty || form.controls.teamtwo.touched || submitted)">
											Este campo es obligatorio.</small>
									</div>
								</div>

								<div class="form-actions">
									<button type="button" class="btn btn-raised btn-warning mr-1"
										(click)="returnPageList()">
										<i></i>Ver listado de juegos
									</button>
									<button type="button" class="btn btn-raised btn-primary"
										(click)="getNameTeam()">
										<i></i>Iniciar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="horizontal-form-layouts" *ngIf="namePanel===1">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header" *ngIf="setPlay<6">Juego,
				{{setPlay}} / 5</div>
			<div class="content-header" *ngIf="setPlay===6">Fin del juego</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<form class="form form-horizontal">
							<div class="form-body">

								<h4 class="form-section" *ngIf="setPlay<6">
									<i class="ft-info"></i> Marcador
								</h4>
								<div class="row" *ngIf="setPlay<6">

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-3 label-control" for="userinput8">{{nameTeamOne}}
											</label>
											<div class="col-md-9">
												<!-- <textarea id="userinput8" rows="6"
													class="form-control col-md-9 border-primary" name="bio"></textarea> -->
												<input type="number" id="projectinput1" class="form-control"
													[(ngModel)]="pointTeamOne"
													placeholder="Puntos obtenidos por el equipo"
													name="pointTeamOne">
											</div>


										</div>



									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-3 label-control" for="userinput8">{{nameTeamTwo}}
											</label>
											<div class="col-md-9">
												<input type="number" id="projectinput1" class="form-control"
													[(ngModel)]="pointTeamTwo"
													placeholder="Puntos obtenidos por el equipo"
													name="pointTeamTwo">
											</div>
										</div>
									</div>
								</div>


								<h4 class="form-section" *ngIf="setPlay<6">
									<i class="ft-radio"></i> Servicio
								</h4>

								<div class="row" *ngIf="setPlay<6">

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-3 label-control" for="userinput8">{{nameTeamOne}}
											</label>
											<div class="col-md-9">
												<img *ngIf="serviceTeamOne===1"
													src="../../../assets/img/1486564411-checkmark_81522.png">
											</div>
										</div>

									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-3 label-control" for="userinput8">{{nameTeamTwo}}
											</label>
											<div class="col-md-9">
												<div class="col-md-9">
													<img *ngIf="serviceTeamTwo===1"
														src="../../../assets/img/1486564411-checkmark_81522.png">
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-header">
												<h4 class="card-title">Puntos obtenidos por:</h4>
											</div>
											<div class="card-body">
												<div class="card-block">
													<div class="block-button">
														<a (click)="pointCounting('t1',0)"
															class="btn btn-primary btn-lg btn-block btn-raised">Falla
															del equipo {{nameTeamTwo}}</a> <a
															(click)="pointCounting('t1',0)"
															class="btn btn-success btn-lg btn-block btn-raised">Anotaci&oacute;n</a>
													</div>
												</div>
											</div>
										</div>
									</div>




									<div class="col-md-6">
										<div class="card">
											<div class="card-header">
												<h4 class="card-title">Puntos obtenidos por:</h4>
											</div>
											<div class="card-body">
												<div class="card-block">
													<div class="block-button">
														<a (click)="pointCounting('t2',0)"
															class="btn btn-primary btn-lg btn-block btn-raised">
															Falla del equipo {{nameTeamOne}}</a> <a
															(click)="pointCounting('t2',0)"
															class="btn btn-success btn-lg btn-block btn-raised">
															Anotaci&oacute;n</a>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<h4 class="form-section" *ngIf="setPlay===6">
									<i class="ft-thumbs-up"></i> Total de puntos
								</h4>


								<div class="col-md-12" *ngIf="setPlay===6">
									<div class="card">
										<div class="card-header">
											<h4 class="card-title">Resumen del partido:</h4>
										</div>
										<div class="card-body">
											<div class="px-3">
												<form class="form">
													<div class="form-body">
														<div class="row">
															<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
																<fieldset class="form-group">
																	<label for="disabledInput">{{nameTeamOne}}</label> <input
																		type="text" class="form-control" id="disabledInput"
																		disabled value="{{totalPointsTeamOne}}">
																</fieldset>
															</div>

															<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
																<fieldset class="form-group">
																	<label for="disabledInput">{{nameTeamTwo}}</label> <input
																		type="text" class="form-control" id="disabledInput"
																		disabled value="{{totalPointsTeamTwo}}">
																</fieldset>
															</div>


															<!-- <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
																<fieldset class="form-group">
																	<label for="disabledInput">Disabled Input</label> <input
																		type="text" class="form-control" id="disabledInput"
																		disabled>
																</fieldset>
															</div>

															<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
																<fieldset class="form-group">
																	<label for="disabledInput">Disabled Input</label> <input
																		type="text" class="form-control" id="disabledInput"
																		disabled>
																</fieldset>
															</div> -->


														</div>
													</div>
												</form>
											</div>

											<div class="card-block">
												<div class="block-button">
													<a (click)="saveMatch()"
														class="btn btn-info btn-lg btn-block btn-raised">
														Guardar</a>
												</div>
											</div>
										</div>
									</div>
								</div>




							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>