<meta charset="utf-8">

<div class="row">
	<div class="col-12">
		<div class="content-header">Listado de partidos</div>
	</div>
</div>

<section id="extended">
	<div class="row">
		<div class="col-sm-12">

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Registros</h4>
				</div>


				<div class="card-body">
					<div class="card-block">
						<!-- <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"
							[headerHeight]="50" [footerHeight]="50" [limit]="10"
							[rowHeight]="'auto'" [reorderable]="reorderable"
							[scrollbarH]="true"> 
							<ngx-datatable-column name="Equipo1" prop="teamOne"></ngx-datatable-column>
							<ngx-datatable-column name="Equipo2" prop="teamTwo"></ngx-datatable-column>
							<ngx-datatable-column name="Puntuacion Equipo1" prop="scoreOne"></ngx-datatable-column>
							<ngx-datatable-column name="Puntuacion Equipo2" prop="scoreTwo"></ngx-datatable-column>	
						</ngx-datatable> -->

						<table class="table table-bordered table-striped tabla">
							<thead>
								<tr class="filters">
									<th>Equipo1</th>
									<th>Equipo2</th>
									<th>Puntuacion Equipo1</th>
									<th>Puntuacion Equipo2</th>
								</tr>
							</thead>
							<tbody *ngFor="let row of rows">
								<tr>
									<td>{{row.teamOne}}</td>
									<td>{{row.teamTwo}}</td>
									<td>{{row.scoreOne}}</td>
									<td>{{row.scoreTwo}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>