@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

th {
	text-align: center;
}

.ngx-datatable.material {
	.datatable-header {
		.datatable-header-cell {
			font-weight: bold;
			font-size: 15px;
		}
	}
}	