<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 1.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<ol>
						<li>Initial Release</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 2.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">11-10-2017 [2.0]</h5>
					<h3>Added</h3>
					<ol>
						<li>Taskboard</li>
						<li>Audio Player</li>
						<li>Video Player</li>
						<li>Chat - Audio & Video</li>
						<li>Drag n Drop</li>
						<li>Tour</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Updated to Angular 5+</li>
						<li>Updated starter kit to Angular 5+</li>
						<li>Documentation</li>
						<li>Calendar</li>
						<li>Sweet Alert</li>
						<li>Data Tables</li>
						<li>Quill Editor</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor Bugs & design flaws</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 2.1</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">11-21-2017 [2.1]</h5>
					<h3>Added</h3>
					<ol>
						<li>Search Page</li>
						<li>FAQ Page</li>
						<li>Knowledge Base Page</li>
						<li>Internationalization (i18n) Support</li>
						<li>Authentication Service</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Angular Version (5.0.2)</li>
						<li>starter kit</li>
						<li>Documentation</li>
						<li>Calendar</li>
						<li>Inbox</li>
						<li>Chat</li>
						<li>NGX Datatable</li>
						<li>NGX Charts</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor Bugs</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>